# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ feature/v*]
  pull_request:
    branches: [ master ]

jobs:
  release:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/feature/v})"
      id: extract_branch_name

    - name: Build with Maven Kar bundle
      env:
        GITHUBTOKEN: ${{ secrets.GITHUBTOKEN }}
      run: mvn clean package  -P buildKar

    - uses: actions/upload-artifact@v2
      with:
        name: nexus-repository-cpan
        path: ./nexus-repository-cpan/target/nexus-repository-cpan*

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.extract_branch_name.outputs.branch }}
        release_name: Release ${{ steps.extract_branch_name.outputs.branch }}
        body: |
          Crear Release ${{ steps.extract_branch_name.outputs.branch }}
        draft: false
        prerelease: false

    - name: Upload Release Asset
      id: upload-release-asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
        asset_path: ./nexus-repository-cpan/target/nexus-repository-cpan-${{ steps.extract_branch_name.outputs.branch }}-bundle.kar
        asset_name: nexus-repository-cpan-{{ steps.extract_branch_name.outputs.branch }}-bundle.kar
        asset_content_type: application/zip
